.products-quantity{
  width: 100%;
  margin-top: 25px;
}
.products-quantity table{
  width: 100%;
}
.products-quantity table tr:nth-child(1) td{
  padding: 15px 5px 15px 5px;
  box-sizing: border-box;
  text-align: center;
  font-weight: 600;
  background: #e0e0e0 !important;
  color: #636363;
}
.products-quantity table td{
  text-align: center;
  padding: 8px 5px 8px 5px;
}
.products-quantity table tr td:nth-child(1){
  width: 100px;
}
.products-quantity table .icon img{
  width: auto;
  height: 50px;
}

.item-dashboard .icon img{
  width: 90px;
  height: 90px;
  padding: 5px;
  box-sizing: border-box;
  object-fit: contain;
}
.item-dashboard .name{
  width: 150px;
  text-align: center;
}
.item-dashboard .name p{
  font-weight: 600;
  font-size: 1.3em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item-dashboard .description{
  width: 300px;
  text-align: center;
}
.item-dashboard .description p{
  font-size: 1em;
  font-weight: 400;
  color: #656565;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item-dashboard .quantity{
  width: 100px;
  text-align: center;
}
.item-dashboard .quantity p{
  font-size: 1.4em;
  font-weight: 600;
}
/*************** Section colors box ******************/
h2.information{
  font-weight: 600;
  font-size: 1.2em;
  color: #848484;
  padding-top: 25px;
}
.info-colors{
  width: 100%;
  height: auto;
  padding-top: 25px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.color-box{
  padding: 8px;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
.color-box p{
  padding-left: 5px;
  color: #fff;
  font-size: 0.9em;
  font-weight: 600;
}
.circle-color{
  width: 18px;
  height: 18px;
  border-radius: 80px;
}
.red-circle{
  background: rgb(255, 0, 0);
}
.orange-circle{
  background: orange;
}
.green-circle{
  background: rgb(21, 189, 43);
}
