.options-settings{
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}
.color-settings{
  cursor: pointer;
  background: #1752ff;
  width: 200px;
  height: 300px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
  margin-right: 10px;
  margin-left: 10px;
}
.color-settings img{
  width: auto;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
}
.color-settings p{
  padding-top: 15px;
  font-size: 1.2em;
  color: #fff;
  text-align: center;
}
.options-item > img {
    width: 20px;
    height: auto;
    cursor: pointer;
}
.options-menu-item {
    position: absolute;
    top: 25px;
    left: 75px;
    background: #fff;
    width: 125px;
    height: 95px;
    border-radius: 4px;
    border: 1px solid #b7b7b7;
    padding: 5px;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.edit-color, .delete-color {
    width: 100%;
    padding: 6px 10px 6px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-bottom: 4px;
}
.edit-color img, .delete-color img {
    width: auto;
    height: 20px;
    padding: 1px;
    box-sizing: border-box;
}
.edit-color p, .delete-color p {
    padding-left: 8px;
}
#section-colors{
  display: none;
}
.section-control-colors {
    margin-top: 25px;
    margin-bottom: 25px;
}
#section-colors table {
    width: 100%;
}
#section-colors table tr:nth-child(1) td {
    padding: 15px 5px 15px 5px;
    box-sizing: border-box;
    text-align: center;
    font-weight: 600;
    background: #e0e0e0 !important;
    color: #636363;
}
#section-colors table td {
    text-align: center;
    padding: 8px 5px 8px 5px;
}
.options-item {
    position: relative;
}
.new-color-box {
    position: fixed;
    width: 350px;
    height: 275px;
    background: #fff;
    z-index: 2;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 4px;
}
.inputs-color-info {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inputs-color-info > div {
    width: 100%;
    margin-bottom: 8px;
}
.inputs-color-info > div p {
    margin-bottom: 8px;
}
.inputs-color-info > div input, .inputs-color-info > div select {
    width: 100%;
}
