.option-inventory{
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}
.search-inventory, .receipt-inventory, .shipping-inventory, .inventory-control{
  cursor: pointer;
  background: #1752ff;
  width: 200px;
  height: 300px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
  margin-right: 10px;
  margin-left: 10px;
}
.option-inventory div img{
  width: auto;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
}
.option-inventory div p{
  padding-top: 15px;
  font-size: 1.2em;
  color: #fff;
  text-align: center;
}
/********************* Inventory Control ***********************/
.section-control-products{
  margin-top: 25px;
  margin-bottom: 25px;
}
.overflowTable{
  height: 340px;
  overflow-y: auto;
}
.onlySet{
  margin-top: 20px;
}
.edit-product, .delete-product{
  width: 100%;
  padding: 6px 10px 6px 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin-bottom: 4px;
}
.edit-product:hover, .delete-product:hover{
  background: #e2e2e2;
}
.edit-product img, .delete-product img{
  width: auto;
  height: 20px;
  padding: 1px;
  box-sizing: border-box;
}
.edit-product p, .delete-product p{
  padding-left: 8px;
}
#inventory table{
  width: 100%;
}
#inventory table tr:nth-child(1) td{
  padding: 15px 5px 15px 5px;
  box-sizing: border-box;
  text-align: center;
  font-weight: 600;
  background: #e0e0e0 !important;
  color: #636363;
}
#inventory table td{
  text-align: center;
  padding: 8px 5px 8px 5px;
}
#inventory table .icon img{
  width: auto;
  height: 50px;
}
.options-item{
  position: relative;
}
.options-item > img{
  width: 20px;
  height: auto;
  cursor: pointer;
}
.options-menu-item{
  position: absolute;
  top: 25px;
  left: 75px;
  background: #fff;
  width: 125px;
  height: 95px;
  border-radius: 4px;
  border: 1px solid #b7b7b7;
  padding: 5px;
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.new-product-box{
  position: fixed;
  width: 350px;
  height: 445px;
  background: #fff;
  z-index: 2;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 4px;
}
.inputs-product-info{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inputs-product-info > div{
  width: 100%;
  margin-bottom: 8px;
}
.inputs-product-info > div p{
  margin-bottom: 8px;
}
.inputs-product-info > div input, .inputs-product-info > div select{
  width: 100%;
}
.section-select-tornillos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.section-select-tornillos input, .section-select-tornillos select{
  width: calc(50% - 5px) !important;
}
/******************* Set Box *****************************/
.new-set-box {
    position: fixed;
    width: 350px;
    height: 490px;
    background: #fff;
    z-index: 2;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 4px;
}
.info-set{
  padding-top: 8px;
}
.set-items-box{
  width: 100%;
  height: 345px;
}
.back-set-box{
  width: 95px;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding: 10px 0px 10px 0px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.back-set-box img{
  width: auto;
  height: 15px;
}
.back-set-box p{
  padding-left: 5px;
  font-weight: 600;
  font-size: 1em;
}
#showItemsToSet{
  width: 100%;
  max-height: 305px;
  overflow-y: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#showItemsToSet .itemSet{
  width: calc((100% / 3) - 10px);
  height: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 4px;
  cursor: pointer;
}
.itemSet img{
  width: 80px;
  height: 80px;
  object-fit: cover;
  transition: 0.3s;
}
.itemSet > div{
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.itemSet > div p{
  font-weight: 600;
  font-size: 0.8em;
}
.itemSet > div input{
  width: 100%;
  margin-top: 4px;
  text-align: center;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#showItemsToSet .itemSet:hover{
  border: 2px solid #409dff;
}
.selectedItemSet{
  border: 2px solid #409dff;
}
.openItemsDB{
  transition: 0.3s;
}
.imageResizeSet{
  width: 30px !important;
  height: 30px !important;
  transition: 0.3s;
}
.setItemsSection{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.setItemsSection .productsSet{
  margin-left: 5px;
}
/******************* Search Products *********************/
.total-items{
  margin-top: 25px;
}
.info-total-items h2{
  font-size: 1.2em;
  color: #636363;
  font-weight: 400;
}
.info-total-items > div{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5px;
  box-sizing: border-box;
}
.info-total-items > div label{
  font-size: 1.8em;
  color: #3568ff;
  font-weight: 600;
}
.info-total-items > div p{
  padding-left: 5px;
  font-size: 1em;
  color: #636363;
}
.search-section-box{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
}
.filterInput{
  width: 280px;
}
.searchItem{
  margin-left: 5px;
}
.items-box table{
  width: 100%;
}
.items-box table tr:nth-child(1) td{
  padding: 15px 5px 15px 5px;
  box-sizing: border-box;
  text-align: center;
  font-weight: 600;
  background: #e0e0e0 !important;
  color: #636363;
}
.items-box table td{
  text-align: center;
  padding: 8px 5px 8px 5px;
  box-sizing: border-box;
  cursor: pointer;
}
.items-box table tr:hover td{
  background: #efefef;
}
.info-product-box{
  width: 350px;
  height: 330px;
  background: #fff;
  border-radius: 4px;
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}
.section-data > div:nth-child(1){
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px;
  box-sizing: border-box;
}
.section-data > div:nth-child(1) img{
  width: auto;
  height: 100px;
  object-fit: contain;
}
.section-data > div:nth-child(2){
  padding-top: 15px;
  box-sizing: border-box;
}
.info-name{
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 5px;
}
.info-description{
  font-size: 1.2em;
  color: #565656;
}
.quantity-info{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}
.quantity-info p{
  font-weight: 600;
}
.quantity-info label{
  padding-left: 5px;
}
.search-all{
  margin-left: 10px;
  cursor: pointer;
  font-size: 1em;
  color: #1752ff;
}
/********************** Receipt Products Section ************************/
#receipt-inventory .info-receipt, #shipping-inventory .info-shipping{
  padding-top: 25px;
  font-size: 1.2em;
  font-weight: 600;
  color: #a0a0a0;
}
.items-receipt-box, .items-shipping-box{
  padding-top: 25px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item-receipt-count, .item-shipping-count{
  width: calc((100% / 5) - 10px);
  height: auto;
  padding: 30px 10px 30px 10px;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: 0.15s;
}
.item-receipt-count img, .item-shipping-count img{
  width: auto;
  height: 100px;
}
.item-receipt-count:hover, .item-shipping-count:hover{
  transform: scale(1.05);
  transition: 0.5s;
}
.capture-receipt, .capture-shipping{
  position: fixed;
  z-index: 1;
  background: #fff;
  width: 350px;
  height: 210px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}
.capture-shipping{
  height: 250px !important;
}
.name-receipt-product, .name-shipping-product{
  padding-top: 15px;
}
.name-receipt-product p, .name-shipping-product p{
  font-size: 1.5em;
  font-weight: 600;
  color: #383838;
}
#insertReceipt, #insertShipping{
  padding-top: 5px;
}
#insertReceipt > div > input, #insertShipping > div > input{
  margin-top: 5px;
  width: 100%;
}
.insertReceiptProduct, .insertShippingProduct{
  margin-top: 10px;
}
.error-qty{
  padding-top: 5px;
  color: red;
}
