*{
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css?family=Roboto');
a, p , h1, h2, td,label{
  font-family: 'Roboto', sans-serif;
}
.box-shadow{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}
.title-dialog{
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.title-dialog h1{
  font-size: 1.4em;
}
.title-dialog img{
  width: auto;
  height: 20px;
  padding: 3px;
  box-sizing: border-box;
  cursor: pointer;
}
input:focus{
  outline: none;
}
input[type=button]{
  padding: 10px 15px 10px 15px;
  box-sizing: border-box;
  border-radius: 100px;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  cursor: pointer;
}
.save-button{
  background: #1752ff;
  color: #fff;
}
.create-button{
  background: #26ca1d;
  color: #fff;
}
input[type=text], input[type=number], select{
  border: none;
  background: #e8e8e8;
  height: 30px;
  padding: 5px;
  box-sizing: border-box;
}
.input-error{
    background: #ff8b8b !important;
    border: 1px solid #ff4848 !important;
    animation: bell-alert;
    animation-duration: 0.3s;
}
.input-error::placeholder{
    color: red;
    color: #ff4d4d;
    font-weight: bold;
}
table{
  background: #cecece
}
table tr td{
  background: #fff;
}
header{
  width: 100px;
  height: 100vh;
  background-color: #1752ff;
  position: fixed;
  padding: 20px 0px 20px 0px;
  box-sizing: border-box;
}
nav ul li {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
nav ul li a{
  text-decoration: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
nav ul li:hover{
  background: #184eec
}
nav ul li a img{
  width: 40px;
  height: auto;
  padding: 5px;
  box-sizing: border-box;
}
nav ul li a p{
  text-align: center;
  padding-top: 8px;
  font-size: 1em;
  font-weight: 400;
  color: #fff;
}
main{
  padding: 25px 25px 25px 125px;
  box-sizing: border-box;
  width: 100%;
}
/*****************************************Box confirmation***************************************************/
.box-confirmation-not{
    position: fixed;
    width: 300px;
    height: 130px;
    background: #fff;
    padding: 15px;
    box-sizing: border-box;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 105;
}
.box-confirmation-not span{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1em;
    color: #000;
}
.box-confirmation-not > div{
    padding-top: 25px;
}
.box-confirmation-not input{
    width: auto;
    height: auto;
    padding: 5px 15px 5px 15px;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #fff;
    cursor: pointer;
}
.yes-confirmation{
    background: #429fff;
    border: 1px solid #007dff;
    margin-right: 10px;
}
.no-confirmation{
    background: #ff4242;
    border: 1px solid #ff0000;
    margin-left: 10px;
}
/**************************** Animations *****************************/
@keyframes pop-in {
    0% {transform: scale(0);}
    25% {transform: scale(0.52);}
    50% {transform: scale(1.04);}
    75% {transform: scale(1.25);}
    100% {transform: scale(1);}
}
@keyframes pop-out {
    0% {transform: scale(1);}
    25% {transform: scale(1.25);}
    50% {transform: scale(1.04);}
    75% {transform: scale(0.52);}
    100% {transform: scale(0);}
}
@keyframes bell-alert {
    0% {transform: translateX(0px);}
    12.5% {transform:  translateX(-10px);}
    25% {transform:  translateX(0px);}
    37.5% {transform:  translateX(10px);}
    50% {transform:  translateX(0px);}
    62.5% {transform:  translateX(-10px);}
    75% {transform:  translateX(0px);}
    87.5% {transform:  translateX(10px);}
    100% {transform:  translateX(0px);}
}
