<table width="100%" cellpadding="3" cellspacing="0" >
	<thead>
		<tr style="background-color: #dfeffc; color: #2e6e9e;">
			<td align="center" style="border: 1px solid #5c9ccc;">[@calendar]</td>
		</tr>
	</thead>
</table>
<table width="100%" cellpadding="3" cellspacing="0" >
	<thead>
		<tr style="background-color: #dfeffc; color: #2e6e9e;">
			<th width="10%" align="center" style="border: 1px solid #5c9ccc;">[@h_day]</th>
			<th width="10%" align="center" style="border: 1px solid #5c9ccc;">[@h_start]</th>
			<th width="10%" align="center" style="border: 1px solid #5c9ccc;">[@h_end]</th>
			<th width="10%" align="center" style="border: 1px solid #5c9ccc;">[@h_location]</th>
			<th width="10%" align="center" style="border: 1px solid #5c9ccc;">[@h_categories]</th>
			<th width="20%" align="center" style="border: 1px solid #5c9ccc;">[@h_title]</th>
			<th width="30%" align="center" style="border: 1px solid #5c9ccc;">[@h_description]</th>
		</tr>
	</thead>
	<tbody>
		[@rows]
	</tbody>
</table>
