<tr>
<td rowspan="2" width="10%" style="border: 1px solid #5c9ccc;">&nbsp;[@myday]&nbsp;</td>
<td colspan="2" align="center" nowrap width="20%" style="border: 1px solid #5c9ccc;">&nbsp; [@mydate] &nbsp;</td>
<td rowspan="2" width="10%" style="border: 1px solid #5c9ccc;">[@location]&nbsp;</td>
<td rowspan="2" width="10%" style="border: 1px solid #5c9ccc;">[@categories]&nbsp;</td>
<td rowspan="2" width="20%" style="border: 1px solid #5c9ccc;">[@title]&nbsp;</td>
<td rowspan="2" style="WORD-BREAK:BREAK-ALL;white-space: normal" width="30%" style="border: 1px solid #5c9ccc;">[@description]&nbsp;</td>
</tr>
<tr style="border: 1px soid #5c9ccc;">
	[@allday]
</tr>
