.box-edit-receiving, .receipt-details-box, .purchase-order-box{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
    box-sizing: border-box;
    box-shadow: 1px 5px 20px 1px #d8d8d8;
}
.box-edit-receiving h1{
    font-family: roboto-m;
    font-size: 1.8em;
    color: #313131;
    padding-bottom: 25px;
}
.box-edit-receiving > div:nth-child(2){
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
}
.box-edit-receiving > div:nth-child(2) div div{
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 15px;
}
.box-edit-receiving > div:nth-child(2) div div p{
    font-family: roboto-r;
    font-size: 1em;
    color: #000;
}
.box-edit-receiving > div:nth-child(2) div div p:nth-child(1){
    width: 105px;
    font-family: roboto-m;
}
.box-edit-receiving > div:nth-child(2) div div input, .box-edit-receiving > div:nth-child(2) div div select, .box-edit-receiving > div:nth-child(2) div div p:nth-child(2){
    margin-left: 10px;
    font-family: roboto-r;
    font-size: 1em;
    color: #000;
}
input[type=text],select{
    height: 30px;
    border-radius: 5px;
    border: none;
    background: #eaeaea;
    padding-left: 10px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #b7b7b7;
}
input[type=number]{
    height: 30px;
    border-radius: 5px;
    border: none;
    background: #fff;
    padding-left: 10px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #d2d2d2;
}
.box-edit-receiving > div:nth-child(2) > div{
    width: 50%;
}
.box-edit-receiving > div:nth-child(2) > div:nth-child(2) .barcode{
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
}
.box-edit-receiving > div:nth-child(2) > div:nth-child(2) .barcode p{
    padding-top: 5px;
}
.box-edit-receiving > div:nth-child(2) > div:nth-child(2) .check-box{
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.box-edit-receiving > div:nth-child(2) > div:nth-child(2) .comments{
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
}
.box-edit-receiving > div:nth-child(2) > div:nth-child(2) .comments p{
    padding-bottom: 10px;
}
.box-edit-receiving > div:nth-child(2) > div:nth-child(2) .comments textarea{
    width: 100%;
    height: 100px;
}
.box-edit-receiving > div:nth-child(2) > div:nth-child(2) .extra-charges{
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
}
.box-edit-receiving > div:nth-child(2) > div:nth-child(2) .extra-charges input{
    background: rgba(56, 193, 65, 1);
    color: #fff;
}
.receiving-box{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}
.receipt-details-box, .purchase-order-box{
    padding: 25px 0px 25px 0px;
}
.receipt-details-box .title h1, .purchase-order-box .title h1{
    font-family: roboto-r;
    font-size: 1.5em;
    color: #000;
    padding: 0px 30px 20px 30px;
    box-sizing: border-box;
}
.receipt-details-box .options-receipt, .purchase-order-box .options-receipt{
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 10px 30px;
    box-sizing: border-box;
}
.receipt-details-box .options-receipt > div:nth-child(1), .purchase-order-box .options-receipt > div:nth-child(1){
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.receipt-details-box .options-receipt > div:nth-child(1) input{
    margin-left: 15px;
}
.purchase-order-box .options-receipt > div.box-add-row input{
    margin-left: 0px;
}
.receipt-details-box .options-receipt > div.box-add-row input:nth-child(2), .purchase-order-box .options-receipt > div.box-add-row input:nth-child(2){
    margin-left: 15px;
}
.receipt-details-box .options-receipt > div:nth-child(1) h2{
    font-family: roboto-r;
    font-size: 1em;
    color: #000;
}
.receipt-details-box .options-receipt > div:nth-child(1) .button{
    background: rgb(49, 151, 255);
    color: #fff;
}
.receipt-details-box .options-receipt > div:nth-child(1) .add-row,.receipt-details-box .options-receipt > div:nth-child(2) .add-row, .purchase-order-box .options-receipt > div:nth-child(1) .add-row{
    background: rgba(56, 193, 65, 1);
    color: #fff;
}
.receipt-details-box .options-receipt > div:nth-child(1) .add-row, .receipt-details-box .options-receipt > div:nth-child(2) .add-row{
    margin-left: 15px;
}
