.box-view{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    height: auto;
}
.box-view .printview{
    padding: 20px 0px 20px 0px;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.printview a{
    text-decoration: none;
}
.box-view .printview .back-view a{
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.box-view .printview .back-view a img{
    width: 25px;
    height: auto;
    transform: rotateY(180deg);
}
.box-view .printview .back-view a p{
    font-family: roboto-m;
    color: #171717;
    font-size: 1em;
    padding-left: 10px;
}
.top-boxes, .bottom-boxes{
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 15px;
}
.top-boxes-invoice{
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
}
.bottom-boxes{
    padding-bottom: 25px;
}
.view-receiving{
    width: calc(40% - 10px);
    max-height: 465px;
    padding: 30px;
    box-sizing: border-box;
    border: 2px solid #e4e4e4;
    box-shadow: 1px 5px 20px 1px #d8d8d8;
}
.view-receiving-invoice{
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    border: 2px solid #e4e4e4;
    box-shadow: 1px 5px 20px 1px #d8d8d8;
    margin-bottom: 25px;
}
.table-payments{
    height: calc(100% - 55px) !important;
}
.not-found{
    height: 100%;
}
.view-receiving h1, .view-receiving-invoice h1{
    font-family: roboto-r;
    font-size: 1.5em;
    color: #000;
    padding-bottom: 20px;
}
.view-receiving-invoice h1{
    padding-bottom: 0px;
}
.view-receiving table{
    width: auto;
    height: auto;
}
.view-receiving-invoice table{
    width: 100%;
}
.view-receiving table tr td, .view-receiving-invoice table tr td{
    padding: 5px 0px 5px 0px;
}
.view-receiving table tr td:nth-child(1), .view-receiving-invoice table tr:nth-child(1) td{
    font-family: roboto-b;
    font-size: 1.1em;
    color: #000;
}
.view-receiving table tr td:nth-child(2), .view-receiving-invoice table tr:nth-child(2) td{
    font-family: roboto-r;
    font-size: 1.1em;
    color: #000;
    padding-left: 25px;
}
.view-receiving-invoice table tr:nth-child(2) td{
    padding-left: 0px;
}
.view-receiving .options-view, .view-receiving-invoice .options-view{
    width: 100%;
    padding-top: 20px;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
}
.options-view .fancyBtn{
    background: rgb(0, 0, 0);
    font-family: roboto-r;
    color: #fff;
}
.details-options{
    position: relative;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    flex-direction: row;
    line-height: 34px;
}
.details-options > img{
    width: 12px !important;
    height: auto;
    margin-left: 5px;
    display: none;
}
.more-details{
    display: none;
    position: absolute;
    z-index: 2;
    background: #fff;

    top: 22px;
    left: 35px;
}
table{
    border-color: #e4e4e4;
}
.shadow-more-details{
    width: 100%;
    height: 100vh;
    position: fixed;
    display: none;
    z-index: 1;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
}
.dialog-shipping{
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background: rgba(0, 0, 0, 0.5);
}
.dialog-shipping > form{
    width: 180px;
    height: 290px;
    padding: 15px;
    overflow-y: auto;
    box-sizing: border-box;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.dialog-shipping > form > img{
    width: 15px;
    height: auto;
    padding: 2px;
    box-sizing: border-box;
    cursor: pointer;
}
.dialog-shipping > form table{
    width: 100%;
    height: auto;
}
.dialog-shipping > form table tr{
    text-align: center;
}
.dialog-shipping > form table tr th{
    font-family: roboto-r;
    font-size: 1.1em;
    color: #000;
    text-align: left;
    padding: 10px 0px 10px 0px;
}
.dialog-shipping > form table tr td{
    padding: 2px 0px 2px 0px;
}
.dialog-shipping > form table tr td a{
    font-family: roboto-r;
    text-decoration: none;
    font-size: 0.95em;
    color: #000;
}
.dialog-shipping > form table tr td a:hover{
    color: #ff7070;
}
.po-view{
    width: calc(60% - 10px);
    height: 465px;
    max-height: 465px;
    overflow-y: auto;
    border: 2px solid #e4e4e4;
    background: #fff;
    box-shadow: 1px 5px 20px 1px #d8d8d8;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.po-view-invoice{
    width: 100% !important;
}
.box-item{
    width: calc((80% / 2) - 10px);
    border: 2px solid #e4e4e4;
    background: #fff;
    box-shadow: 1px 5px 20px 1px #d8d8d8;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.fr{
    width: calc(20% - 10px);
}
.po-view h1, .box-item h1{
    font-family: roboto-r;
    font-size: 1.5em;
    color: #000;
    padding-bottom: 20px;
}
@media screen and (max-width: 1500px){
    .box-view{
        padding: 0px 10px 0px 10px;
        box-sizing: border-box;
    }
}
@media screen and (max-width: 1300px){
    .top-boxes, .bottom-boxes{
        flex-wrap: wrap;
    }
    .box-item{
        width: calc(60% - 10px);
    }
    .fr{
        width: calc(40% - 10px);
    }
}
@media screen and (max-width: 1185px){
    .view-receiving{
        width: calc(50% - 10px);
    }
    .po-view{
        width: calc(50% - 10px);
    }
}
@media screen and (max-width: 1000px){
    .view-receiving{
        margin-bottom: 25px;
    }
    .view-receiving, .po-view{
        width: 100%;
    }
}
