.dialog-shadow, .shadow-dialog, .shadow-add-part, .dialog-shadow-add-services{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5);
    top: 0px;
    left: 0px;
    display: none;
    align-items: center;
    justify-content: center;
}
.close-dialog, .close-extra-chargues, .close-dialog-shadow, .close-dialog-update{
    cursor: pointer;
}
/**********************Extra cargos dialog********************/
.applied-charges h1{
    font-family: roboto-r;
    font-size: 1.2em;
    color: #000;
    padding: 10px 0px 10px 0px;
    box-sizing: border-box;
    text-align: left;
}
.extra-chargues{
    width: 520px;
    height: 460px;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 103;
    display: none;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}
.title-dialog{
    width: 100%;
    height: auto;
    display: -webkit-flex;
    display:-ms-flex;
    display:-o-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    box-sizing: border-box;
}
.title-dialog h2{
    font-family: roboto-r;
    font-size: 0.8em;
    color: #000;
}
.title-dialog img{
    width: 15px;
    height: auto;
}
.content-service-items{
    width: 100%;
    height: auto;
}
.content-service-items{
    width: 100%;
    height: auto;
}
#select_service{
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 0px 8px 0px;
    box-sizing: border-box;
}
#select_service p{
    font-family: roboto-r;
    font-size: 0.9em;
    color: #000;
    padding-right: 10px;
}
#services_list{
    width: 100%;
    height: 240px;
    overflow-y: auto;
    position: relative;
}
.items-add-service{
    width: 100%;
    height: auto;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.items-add-service > div{
    width: calc((100% / 3) - 10px);
    height: auto;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    padding: 10px 0px 10px 0px;
}
.items-add-service > div p, .items-add-service > div span{
    font-family: roboto-m;
    font-size: 0.9em;
    color: #000;
}
.items-add-service > div span{
    font-family: roboto-r;
    padding-top: 8px;
}
.items-add-service > div input{
    margin-top: 8px;
}
.items-add-service > div > div{
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.items-add-service > div > div p{
    padding-top: 8px;
}
.items-add-service > div > div span{
    padding-left: 5px;
}
.add_service{
    width: 100%;
    height: 323px;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.button-add-service{
    text-align: right;
}
/********************************************end ***************************/
.dialog-part{
    width: 500px;
    height: 625px;
    padding: 15px 20px 15px 20px;
    box-sizing: border-box;
    background: #fff;
}
.dialog-part .header-part{
    width: 100%;
    height: auto;
    display: -webkit-flex;
    display:-ms-flex;
    display:-o-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dialog-part .header-part div:nth-child(1){
    width: 100%;
    height: auto;
    padding: 10px 0px 10px 0px;
    box-sizing: border-box;
    text-align: right;
}
.dialog-part .header-part div:nth-child(1) > img{
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.dialog-part .header-part div:nth-child(2){
    width: 100%;
    height: auto;
}
.dialog-part .header-part div:nth-child(2) h4{
    font-family: Roboto-r;
    font-size: 1.1em;
    color: #000;
}
.dialog-part .header-part div:nth-child(2) input{
    margin-top: 10px;
    width: 100%;
    font-family: roboto-r;
    font-size: 1.2em;
    color: #000;
    height: 30px;
    border-radius: 5px;
    border: none;
    background: #eaeaea;
    padding-left: 10px;
    box-sizing: border-box;
}
.dialog-part .body-part{
    margin-top: 10px;
    width: 100%;
    height: 450px;
    overflow-y: auto;
}
.body-part table{
    background: #e0e0e0;
}
.body-part table tr{
    background: #fff;
}
.body-part table tr > td:nth-child(1){
    text-align: center;
}
.body-part table tr td input{
    margin-left: 0px;
}
.body-part table tr td{
    padding: 5px;
    box-sizing: border-box;
    font-family: roboto-r;
    font-size: 0.75em;
    color: #000;
}
.body-part table tr:nth-child(1){
    width: 100%;
    background: #e0e0e0;
}
.body-part table tr:nth-child(1) th{
    width: calc(50% / 3);
    font-family: roboto-b;
    font-size: 0.85em;
    color: #000;
    padding: 5px;
    box-sizing: border-box;
}
.body-part table tr:nth-child(1) th:nth-child(1){
    width: 10%;
}
.body-part table tr:nth-child(1) th:nth-child(4){
    width: 50%;
}
.buttons-dialog{
    padding-top: 10px;
    box-sizing: border-box;
}
.dialog-part .bottom-part{
    text-align: right;
    padding-top: 10px;
}
.dialog-part .bottom-part button{
    background: rgb(57, 160, 255);
    color: #fff;
}
button:focus{
    outline: none;
}
