main{
    height: auto;
}

a{
  text-decoration: none;
}
.loading-box{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background: #fff;

    display: none;
    justify-content: center;
    align-items: center;
}
.invoice-box{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 25px 0px 25px 0px;
}
.invoice-head{
    width: 100%;
    height: auto;
    padding: 30px;
    box-sizing: border-box;
    border: 2px solid #e4e4e4;
    box-shadow: 1px 5px 20px 1px #d8d8d8;
}
.title-invoice{
    width: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tag-title{
    width: 55px;
    padding: 4px 8px 4px 8px;
    box-sizing: border-box;
    margin-left: 10px;
    margin-top: 2px;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
.tag-title span{
    font-family: roboto-b;
    font-size: 0.75em;
}
.edit-invoice{
    background: #3197ff;
    border: 1px solid #1581ef;
}
.edit-invoice span{
    color: #1c4e82;
}
.view-invoice{
    background: #000000;
    border: 1px solid #757575;
}
.view-invoice span{
    color: #dedede;
}
h1{
    font-family: roboto-m;
    font-size: 1.8em;
    color: #313131;
}
.info-invoice{
    width: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    box-sizing: border-box;
}
.info-invoice div{
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
}
.info-invoice div p{
    font-size: 1.2em;
    color: #000;
}
.info-invoice div p:nth-child(1){
    font-family: roboto-b;
}
.info-invoice div p:nth-child(2), .info-invoice input{
    font-family: roboto-r;
    margin-left: 10px;
}
.receiving-summary-box, .shipping-summary-box{
    width: calc(50% - 10px);
    height: auto;
    min-height: 260px;
    margin-top: 25px;
    padding: 30px;
    box-sizing: border-box;
    border: 2px solid #e4e4e4;
    box-shadow: 1px 5px 20px 1px #d8d8d8;
}
.data-box{
    width: 100%;
}
.title-data-box{
    width: 100%;
    padding: 10px 15px 10px 15px;
    margin: 15px 0px 0px 0px;
    box-sizing: border-box;
    background: #f3f3f3;
}
.title-data-box > div{
    width: calc(100% - 190px);
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title-data-box > div > div{
    width: calc(100% / 3);
    text-align: center;
}
.title-data-box p{
    font-family: roboto-r;
    font-size: 1.2em;
    color: #000;
}
.content-data-box{
    width: 100%;
    padding: 7px 0px 7px 0px;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.content-data-box .info-data{
    width: calc(100% - 190px);
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.content-data-box .info-data > div{
    width: calc(100% / 3);
    text-align: center;
}
.content-data-box p{
    font-family: roboto-r;
    font-size: 0.85em;
    color: #000;
}
.content-data-box p.aDetails, .content-data-box p.sDetails{
    color: #3abeff;
    cursor: pointer;
    display: inline;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: roboto-m;
    font-size: 0.85em;
}
.options-data{
    width: 190px;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
.options-data > div{
    width: calc(100% / 2);
    text-align: center;
}
.options-data > div:nth-child(2){
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.button-extra-chargue, .btn-extra-chargue{
    width: 20px;
    height: 20px;
    background: #6edc6e;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
}
.button-extra-chargue img, .btn-extra-chargue img{
    width: auto;
    height: 10px;
}
.summary-box{
    width: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 25px;
}
/*************************************box shadow************************************/
.box-shadow, .shadow-notify{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.45);
    position: fixed;
    top: 0px;
    z-index: 101;
    display: none;
}
.shadow-notify{
    z-index: 104;
}
.visible{
    display: block;
}
/****************************************Contenedor receiving details /hazmat/northbound/southnound**********************************/
.receiving-details{
    position: absolute;
    z-index: 102;
    width: auto;
    height: auto;
    padding: 15px;
    box-sizing: border-box;
    background: #fff;
    left: 55px;
    top: 15px;
    display: none;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}
.receiving-details > div{
    width: 100%;
    height: auto;
    padding: 8px 0px 8px 0px;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.receiving-details div input{
    margin-left: 0px;
}
.receiving-details div label{
    font-family: roboto-r;
    font-size: 1em;
    color: #000;
    padding-left: 5px;
}
.receiving-details .total-detail{
    padding-top: 10px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.total-detail p{
    font-family: roboto-r;
    font-size: 1em;
}
.total-detail p:nth-child(2){
    font-family: roboto-m;
    padding-top: 5px;
}
/************************************************pagination*********************************************/
.pagination{
    padding: 15px 5px 15px 5px;
}
/*******************************************Contenedor shipping details******************************/
.shipping-details{
    position: fixed;
    width: 650px;
    height: 440px;
    background: #fff;
    padding: 15px;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 103;
    display: none;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}
.shipping-detail-info{
    width: 100%;
    height: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px 15px 0px;
    box-sizing: border-box;
}
.shipping-detail-info p{
    font-family: roboto-m;
    font-size: 1em;
}
.shipping-detail-head{
    width: 100%;
    height: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 0px 10px 0px;
    box-sizing: border-box;
    background: #e4e4e4;
}
.shipping-detail-head > div{
    text-align: center;
}
.shipping-detail-head > div p{
    font-family: roboto-b;
    font-size: 0.85em;
}
.qty-shipping-detail{
    width: 50px;
}
.description-shipping-detail{
    width: calc(100% - 380px)
}
.type-price-detail{
    width: 230px;
}
.type-price-detail > div{
    position: relative;
}
.type-price-detail > div > span{
    position: absolute;
    font-family: roboto-m;
    font-size: 0.85em;
    color: #737373;
    left: 14px;
}
.type-price-detail > div > input{
    padding-left: 8px;
    box-sizing: border-box;
    width: 75px !important;
}
.total-shipping-detail{
    width: 100px;
}
.box-data-details{
    width: 100%;
    height: 230px;
    overflow-y: auto;
}
.data-shipping-detail{
    width: 100%;
    height: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 7px 0px 7px 0px;
    box-sizing: border-box;
    border-bottom: 1px solid #e4e4e4;
}
.data-shipping-detail div{
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 4px 0px 4px;
    box-sizing: border-box;
}
.data-shipping-detail div input{
    width: 40px;
    margin: 0px 5px 0px 5px;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #e4e4e4;
    font-family: roboto-m;
    text-align: center;
}
.box-credit{
    width: 100%;
    height: auto;
    padding: 7px 0px 7px 0px;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.box-credit p, .box-credit span{
    font-family: roboto-m;
    font-size: 1em;
    color: #000;
}
.box-credit div{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
}
.box-credit div input{
    width: 100px;
    margin: 0px 5px 0px 5px;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #e4e4e4;
    font-family: roboto-m;
    text-align: left;
}
/***************************************************************Storage Invoice*************************************************************/
.storage-box{
    width: 100%;
    height: auto;
    padding: 30px;
    box-sizing: border-box;
    border: 2px solid #e4e4e4;
    box-shadow: 1px 5px 20px 1px #d8d8d8;
    margin-top: 25px;
    margin-bottom: 25px;
}
/*********Select columns***********/
.storage-box-head{
    width: 100%;
    height: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.select-columns{
    width: 180px;
    height: auto;
    padding: 15px 0px 15px 0px;
    box-sizing: border-box;
    text-align: center;
    background: rgb(234, 234, 234);
    border: 1px solid rgb(169,169,169);
    cursor: pointer;
    position: relative;
}
.select-columns:hover ul{
    display: block;
}
.select-columns p{
    font-family: roboto-r;
    font-size: 0.9em;
    color: #000;
    padding: 0px 15px 0px 15px;
}
.select-columns ul{
    width: 180px;
    height: auto;
    list-style: none;
    background: #d2d2d2;
    margin-top: 15px;
    display: none;
    position: absolute;
}
.item-column, .select-item{
    width: 100%;
    height: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
    cursor: pointer;
}
.item-column:hover{
    background: #bfbfbf;
    color: #fff;
}
.select-item:hover{
    background: #3585d7;
}
.item-column img, .select-item img{
    width: auto;
    height: 15px;
    padding-right: 8px;
    animation: pop-in;
    animation-duration: 0.3s;
}
.select-view{
    display: none;
}
.item-column li, .select-item li{
    font-family: roboto-m;
    font-size: 0.9em;
    color: #868686;
}
.select-item{
    background: #429fff;
}
.select-item li{
    color: #fff;
}
.storage-box-head > div:nth-child(2){
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
}
/********Extra chargue tooltip******/
.tooltip{
    position: absolute;
    left: 79px;
    width: 140px;
    top: 30px;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    background: #61c361;
    box-shadow: 1px 0px 20px 1px #c7c7c7;
    text-align: center;
    display: none;
    z-index: 1;
}
.tooltip p{
    font-family: roboto-m;
    font-size: 0.8em;
    color: #fff;
}
/*******Extra chargue button*******/
.open-extra-chargue{
    width: auto;
    height: 50px;
    padding: 15px;
    box-sizing: border-box;
    margin-left: 25px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.open-extra-chargue:hover{
    background: #6edc6e;
}
.open-extra-chargue:hover p{
    color: #fff;
}
.open-extra-chargue p{
    font-family: roboto-m;
    font-size: 1em;
    color: #6edc6e;
    padding-left: 8px;
}
/*******Total storage invoice********/
.total-storage-invoice{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 25px;
}
.total-storage-invoice p, .total-storage-invoice span{
    font-family: roboto-m;
    font-size: 1em;
    color: #000;
}
.total-storage-invoice div{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
}
.total-storage-invoice div span{
    padding-left: 5px
}
/************************************************************Table Storage Invoice******************************************/
.data-storage-box{
    width: 100%;
    margin-top: 15px;
}
.content-data-storage-box{
    width: 100%;
}
.content-data-storage-box input{
  padding-left: 0px !important;
}
.title-storage-box, .content-data-storage-box div, .title-storage-box > div{
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title-storage-box{
    padding: 10px 15px 10px 15px;
    margin-top: 15px;
    box-sizing: border-box;
    background: #f3f3f3;
}
.content-data-storage-box div, .title-storage-box > div{
    padding: 10px 15px 10px 15px;
    box-sizing: border-box;
}
.title-storage-box > div, .content-data-storage-box > div div{
    text-align: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.content-data-storage-box div div span, .content-data-storage-box div div input:nth-child(2){
    margin-left: 5px;
}
.data-storage-box p, .data-storage-box input{
    font-family: roboto-r;
    font-size: 1em;
    color: #000;
}
.title-storage-box p{
    font-family: roboto-m;
}
.data-storage-box input{
    width: 40px !important;
    margin: 0px 5px 0px 5px;
    border: none;
    border-bottom: 2px solid #e4e4e4;
    font-family: roboto-m;
    text-align: center;
}
.column-9 input{
    width: 80% !important;
}
/************************************************************Total invoice*************************************************/
.total-box{
    width: 100%;
    height: auto;
    padding: 25px 0px 25px 0px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
}
.total-invoice-box, .total-invoice-box-view{
    width: 280px;
    max-height: 220px;
    margin-top: 25px;
    height: auto;
    box-shadow: 1px 5px 20px 1px #d8d8d8;
    background: #404040;
    padding: 25px;
    box-sizing: border-box;
    margin-left: auto;
}
.total-invoice-box-view{
    max-height: 235px
}
.total-invoice-box h1, .total-invoice-box-view h1{
    color: #fff;
    font-family: roboto-r;
}
.data-total{
    width: 100%;
    height: calc(100% - 15px);
    padding-top: 15px;
    box-sizing: border-box;
}
.data-total > div{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px 5px 0px;
    box-sizing: border-box;
}
.data-total > div > div{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}
.paid-total-invoice{
    background: #40c540;
    border-radius: 4px;
}
.due-amount-invoice{
    background: #ff3333;
    border-radius: 4px;
}
.data-total div p, .data-total div span{
    font-family: roboto-r;
    font-size: 1em;
    color: #fff;
}
.data-total div span{
    padding-left: 5px
}
.data-total .total-invoice{
    padding: 20px 0px 0px 0px;
}
.data-total .total-invoice p, .data-total .total-invoice span{
    font-family: roboto-m;
}
/******************************************************************Invoice Creation / Manual Invoice ****************************************************/
.invoice-creation-box{
    width: 100%;
    height: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
}
.invoice-creation-box > div{
    width: calc(100% / 4);
    height: auto;
    text-align: center;
    padding-top: 25px;
}
.invoice-creation-box p{
    font-family: roboto-m;
    font-size: 1em;
    color: #000;
}
.invoice-creation-box input, .invoice-creation-box select{
    margin-top: 10px;
}
.info-manual-extra{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 25px;
    box-sizing: border-box;
}
.info-manual-extra p{
    font-family: roboto-m;
    font-size: 1em;
    color: #000;
}
.info-manual-extra > div:nth-child(2){
    padding-left: 15px;
}
/*******************************************************Bottom invoices**********************************************************************************/
.bottom-invoice, .top-invoice{
    width: 100%;
    padding: 25px 0px 0px 0px;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
}
.top-invoice{
    padding: 0px 0px 25px 0px;
    justify-content: flex-start;
}
/**********************************************************Responsive design******************************************************************************/
@media screen and (max-width: 1310px){
    .title-data-box p{
        font-size: 0.85em;
    }
}
@media screen and (max-width: 1195px){
    .invoice-creation-box > div{
        width: calc(100% / 2);
    }
}
@media screen and (max-width: 1101px){
    .title-data-box p{
        font-size: 0.85em;
    }
    .receiving-summary-box, .shipping-summary-box{
        width: 100%;
    }
    .info-invoice{
        flex-wrap: wrap;
    }
    .info-invoice > div{
        width: calc((100% / 2) - 10px);
    }
    .info-invoice > div:nth-child(3), .info-invoice > div:nth-child(4){
        padding-top: 20px;
    }
}
@media screen and (max-width: 1095px){
    .data-storage-box{
        width: 100%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: row;
    }
    .content-data-storage-box{
        width: 100%;
        overflow-x: auto;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: row;
        margin-top: 0px;
        max-height: 495px;
    }
    .title-storage-box, .content-data-storage-box > div{
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 0px;
        max-height: 495px;
    }
    .title-storage-box div, .content-data-storage-box div div{
        width: 100% !important;
        padding: 10px 0px 10px 0px;
        box-sizing: border-box;
        border-bottom: 2px solid #f3f3f3;
        border-left: 2px solid #f3f3f3;
        border-right: 2px solid #f3f3f3;
    }
    .title-storage-box div:nth-child(1), .content-data-storage-box div div:nth-child(1){
        border-top: 2px solid #f3f3f3;
    }
    .title-storage-box{
        width: 240px;
    }
}
@media screen and (max-width: 800px){
    .storage-box-head{
        flex-direction: column;
        align-items: flex-end;
    }
    .storage-box-head > div:nth-child(2){
        width: 100%;
        justify-content: space-between;
        margin-top: 15px;
    }
    .open-extra-chargue{
        margin-left: 0px;
    }
}
