body{
    background: #fff;
}
.login-layout{
    width: 100%;
    padding: 50px 0px 50px 0px;
    box-sizing: border-box;
    background: #fff;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-box{
    width: auto;
    height: auto;
    padding: 35px 25px 35px 25px;
    box-sizing: border-box;
    box-shadow: 1px 10px 20px 1px #d8d8d8;
    background: #fff;
}
.login-box >  div:nth-child(1) > h2{
    font-family: roboto-l;
    font-size: 1.8em;
    color: #0099FF;
}
.login-box >  div:nth-child(2){
    padding-top: 35px;
    box-sizing: border-box;
}
.login-box >  div:nth-child(2) > div{
    width: 100%;
    height: auto;
}
.login-box >  div:nth-child(2) > div p{
    font-family: roboto-r;
    font-size: 0.8em;
    color: #95989A;
}
.login-box >  div:nth-child(2) > div > div{
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.login-box >  div:nth-child(2) > div > div > img{
    width: 30px;
    height: 30px;
    padding: 8px;
    box-sizing: border-box;
    z-index: 2;
}
.login-box >  div:nth-child(2) > div > div > input{
    width: 250px;
    height: 30px;
    margin-left: -30px;
    padding-left: 30px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #f4f4f4;
    font-family: roboto-b;
    font-size: 0.75em;
    color: #2f2f2f;
}
.login-box >  div:nth-child(2) > div:nth-child(2){
    padding-top: 15px;
}
.login-box >  div:nth-child(2) > div:nth-child(3){
    width: 100%;
    padding-top: 15px;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
}
.login-box >  div:nth-child(2) > div:nth-child(3) input{
    width: auto;
    height: auto;
    background: #0093FF;
    border: 0;
    border-radius: 80px;
    padding: 8px 25px 8px 25px;
    box-sizing: border-box;
    font-family: roboto-m;
    font-size: 0.75em;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}
.login-box >  div:nth-child(2) > div:nth-child(3) input:hover{
    background: #0877c9;
}

.login-box >  div:nth-child(2) > div:nth-child(3) input:active{
    transform: scale(0.95);
    transition: 0.5s;
}
.login-box >  div:nth-child(3){
    padding-top: 10px;
    box-sizing: border-box;
    transition: 0.5s;
}
/*****************************************************Quit outline inputs****************************************/
.login-box input:focus{
    outline: none;
}
