*{
    margin: 0;
    padding: 0;
}
main{
    padding: 50px 0px 50px 0px;
    box-sizing: border-box;
    background: #fff !important;
}
body{
    overflow-x: hidden;
    background: #ebebeb !important;
}
/************************************************************Importar tipografia*****************************************************/
@font-face {
   font-family: roboto-t;
   src: url('../font/Roboto-Thin.ttf');
}
@font-face {
   font-family: roboto-l;
   src: url('../font/Roboto-Light.ttf');
}
@font-face {
   font-family: roboto-r;
   src: url('../font/Roboto-Regular.ttf');
}
@font-face {
   font-family: roboto-m;
   src: url('../font/Roboto-Medium.ttf');
}
@font-face {
   font-family: roboto-b;
   src: url('../font/Roboto-Bold.ttf');
}
/************************************************Loading**********************************************************/
.loading-box{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100vh;
    z-index: 9999999;
    background: #fff;
    display: none;
    justify-content: center;
    align-items: center;
}
.content-loading{
    top: 95px;
    position: absolute;
    width: 100%;
    background: #fff;
    height: calc(100% - 130px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.loading-dialog{
    top: 0px;
    height: 240px;
}
.content-loading svg{
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
}
/******************************************Pop notifications**********************************************/
.pop-notification{
    width: 280px;
    height: auto;
    text-align: center;
    position: fixed;
    padding: 25px 0px 25px 0px;
    box-sizing: border-box;
    bottom: 25px;
    right: 25px;
    border-radius: 4px;
    z-index: 104;
}
.pop-msj{
    width: 280px;
    height: auto;
    text-align: center;
    position: fixed;
    padding: 40px 20px 25px 20px;
    box-sizing: border-box;
    bottom: 25px;
    right: 25px;
    border-radius: 4px;
    z-index: 104;
    background: #fff;
    box-shadow: 1px 1px 30px 1px #a9a9a9;
    display: none;
}
.head-pop-msj{
    width: calc(100% - 40px);
    height: 35px;
    position: absolute;
    top: 0;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.head-pop-msj img{
    width: 12px;
    height: auto;
    cursor: pointer;
}
.buttons-pop{
    width: 100%;
    height: auto;
    padding-top: 20px;
    box-sizing: border-box;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.confirm-pop{
    width: 65px;
    height: auto;
    padding: 5px 15px 5px 15px;
    box-sizing: border-box;
    background: #ff3f3f;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}
.confirm-pop p{
    font-family: roboto-m;
    font-size: 0.9em;
    color: #fff;
}
.notify-in{
    animation: notify-in;
    animation-duration: 0.4s;
    display: block !important;
}
.notify-out{
    animation: notify-out;
    animation-duration: 0.4s;
}
.pop-notification span{
    font-family: roboto-m;
    font-size: 1em;
}
.pop-msj span{
    font-family: roboto-m;
    font-size: 1em;
    color: #000;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
}
.save-not{
    background: #74b8ff;
    border: 1px solid #69b3ff;
    display: none;
}
.save-not span{
    color: #007dff;
}
.edit-not{
    background: #fff5ae;
    border: 1px solid #ffe100;
    display: none;
}
.edit-not span{
    color: #ff8300;
}
.delete-not{
    background: #ff8080;
    border: 1px solid #ff4f4f;
    display: none;
}
.delete-not span{
    color: #ff0000;
}
/**************************************************Loading animation*************************************************/
@keyframes loading-out {
    0% {
        opacity: 100;
    }
    25% {
        opacity: 75;
    }
    50% {
        opacity: 50;
    }
    75% {
        opacity: 25;
    }
    100% {
        opacity: 0;
    }
}
@keyframes loading-in {
    0% {
        opacity: 100;
    }
    100% {
        opacity: 100;
    }
}
path,ellipse,circle,rect,polygon,polyline,line { stroke-width: 0; }@keyframes ld-heartbeat {
  0% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  5% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
  }
  39% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  45% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
  60% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes ld-heartbeat {
  0% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  5% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
  }
  39% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  45% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
  60% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.ld.ld-heartbeat {
  -webkit-animation: ld-heartbeat 0.8s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: ld-heartbeat 0.8s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
/*****************************************Box confirmation***************************************************/
.box-confirmation-not{
    position: fixed;
    width: 300px;
    height: 130px;
    background: #fff;
    padding: 15px;
    box-sizing: border-box;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 105;
}
.box-confirmation-not span{
    font-family: roboto-m;
    font-size: 1em;
    color: #000;
}
.box-confirmation-not > div{
    padding-top: 25px;
}
.box-confirmation-not input{
    width: auto;
    height: auto;
    padding: 5px 15px 5px 15px;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: roboto-r;
    font-size: 1em;
    color: #fff;
    cursor: pointer;
}
.yes-confirmation{
    background: #429fff;
    border: 1px solid #007dff;
    margin-right: 10px;
}
.no-confirmation{
    background: #ff4242;
    border: 1px solid #ff0000;
    margin-left: 10px;
}
/************************************Button style**************************************************/
.button{
    padding: 8px 20px 8px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 50px;
    font-family: roboto-m;
    font-size: 0.75em;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
}
.button:active{
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
    transition: 0.25s;
}
.search, .save-btn{
    background: #3197ff;
    color: #fff;
}
.cancel-btn{
    background: #ff7070;
    color: #fff;
}
.newps{
    background: rgb(4, 170, 60);
    color: #fff;
}
.new-receiving{
    background: rgb(24, 171, 74);
    color: #fff;
}
.new-payment{
    background: rgb(24, 171, 74);
    color: #fff;
}
.create-btn{
    background: #429fff;
    color: #fff;
}
.fancyBtn {
    background: rgb(0, 0, 0);
    font-family: roboto-r;
    color: #fff;
}
.clear-search{
    background: #000;
    color: #fff;
    margin-right: 8px;
}
.cancel{
    background: rgb(255, 86, 86);
    color: #fff;
}
.print{
    width: 150px;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #101010;
}
.excel-export{
    width: 150px;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #18ab4a;
}
.print img, .excel-export img{
    width: 18px;
    height: auto;
}
.print p, .excel-export p{
    text-decoration: none;
    color: #fff;
    padding-left: 10px;
}
/********************************************************Menu style*************************************************************************/
header{
    width: 100%;
    height: 50px;

}
#newHeader{
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 100;
    font-family:Arial,Helvetica,Verdana,sans-serif; font-size:12px;
    font-weight:bold;
    padding: 5px 50px 5px 50px;
    box-sizing: border-box;
    background: #fff;
    border-bottom: 1px solid #cfcfcf;
}
#newHeader ul{
    list-style-type: none;
    width: 100%;
    max-width: 1500px;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

}
#newHeader ul div{
    width: auto;
    height: auto;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#newHeader ul > .btn-menu{
    width: 60px;
    height: 30px;
    background: #e4e4e4;
    display: none;
    border-radius: 4px;
    border: 1px solid #c4c4c4;
}
#newHeader ul > .btn-menu > div{
    width: 30px;
    height: 2px;
    background: #5e5e5e;
}
#newHeader ul div li.btn_login{
    width: 100px;
    height: 30px;
    background: #efefef;
    border-radius: 4px;
    border: 1px solid #b0b0b0;
    text-align: center;
    cursor: pointer;
}
#newHeader ul div li.btn_login:active{
    transform: scale(0.95);
}
#newHeader > ul > div:nth-child(2){
    display: block;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#newHeader > ul > div:nth-child(2) > li{
    width: auto;
    /*margin-right: 25px;*/
    position: relative;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 15px 5px 15px;
    box-sizing: border-box;
}
#newHeader > ul > div:nth-child(2) > li:hover{
    background: #e85757;
    border-radius: 4px;
    border: 1px solid #ff9999;
}
#newHeader > ul > div:nth-child(2) > li:hover label{
    color: #fff;
}
#newHeader ul div:nth-child(2) li label{
    font-family: roboto-l;
    font-size: 1.2em;
    line-height: 30px;
    cursor: pointer;
    color: #131313;
}
#newHeader > ul > div:nth-child(3) > a > li:nth-child(1){
    background: #ff7070;
    border-radius: 4px;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 15px 5px 15px;
    box-sizing: border-box;
}
#newHeader > ul > div:nth-child(3) > a {
    text-decoration: none;
}
#newHeader > ul > div:nth-child(3) > a > li.pre{
    width: auto;
    font-family: roboto-l;
}
#newHeader > ul > div:nth-child(3) > a > li:nth-child(1){
    color: #fff;
}
#newHeader > ul > div:nth-child(3) > a > li:nth-child(1) a{
    text-decoration: none;
    font-family: roboto-r;
    color: #fff;
    padding-left: 8px;
}
#newHeader > ul > div:nth-child(3) > a > li:nth-child(1) img{
    padding-left: 8px;
    width: 15px;
    height: auto;
}
#newHeader > ul > div:nth-child(3) > li:nth-child(2){
    color: #000;
    margin-left: 10px;
}
#newHeader > ul > div:nth-child(3) > li:nth-child(2) a{
    text-decoration: none;
    font-family: roboto-r;
    color: #f04444;
    padding-left: 8px;
}
#newHeader > ul > div:nth-child(3) > li:nth-child(2) strong{
    font-family: roboto-r;
}
#newHeader ul div li span{
    width: 8px;
    height: 8px;
    padding-left: 10px;
    background-image: url('../images/icons/down.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    cursor: pointer;
}

#newHeader ul div li ul{
    position: absolute;
    left: 0;
    top: 55px;
    background: #fff;
    display: none;
    width: auto;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #b0b0b0;
    border-radius: 4px;
    cursor:pointer;
}

#newHeader ul li ul li{
    padding-top: 8px;
    padding-bottom: 8px;
    box-sizing: border-box;
    clear: both;
    width: 170px;
    margin-right: 0px;
    font-family: roboto-l;
    font-size: 1.2em;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#newHeader ul li ul li:hover{
    background-color: #e3e3e3;
}
#newHeader ul li ul li.staticText{
    font-family: roboto-r;
    background-color: #e85757;
    text-align: center;
    color: white;
    border-radius: 4px;
    cursor: default;
}
/************************************************************************Banner style***********************************************************************/
.banner{
    width: 100%;
    height: 150px;
    background-image: url(../images/bg_rects.svg),radial-gradient(circle at 100% 0, #505050 0, #f3f3f3 100%);
}
.banner > div{
    width: 100%;
    max-width: 1500px;
    height: 150px;
    margin: 0 auto;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.banner > div > div:nth-child(1){
    width: auto;
    height: auto;
    padding: 5px;
    box-sizing: border-box;
}
.banner >  div > div:nth-child(1) > img{
    width: auto;
    height: 100px;
}
.banner > div > div:nth-child(2){
    width: auto;
    height: auto;
    padding: 5px;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
}
.banner > div > div:nth-child(2) > p{
    font-family: roboto-b;
    font-size: 0.7em;
    color: #fff;
}
.banner > div > div:nth-child(2) > div{
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    box-sizing: border-box;
}
.banner > div > div:nth-child(2) > div img{
    width: auto;
    height: 60px;
}
.banner > div > div:nth-child(2) > div > div{
    padding-left: 10px;
    box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.banner > div > div:nth-child(2) > div > div p{
    font-family: roboto-m;
    font-size: 1.1em;
    color: #fff;
}
/*********************************************************************************Footer style************************************************************************************/
.footer{
    width: 100%;
    height: auto;
    background: #EBEBEB;
    border-top: 1px solid #d2d2d2;
}
.footer .footer-box{
    width: 100%;
    max-width: 1500px;
    height: auto;
    padding: 25px 0px 25px 0px;
    box-sizing: border-box;
    margin: 0 auto;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
}
.footer .footer-box > div:nth-child(1){
    width: 100%;
    padding-bottom: 25px;
}
.footer .footer-box > div:nth-child(1) h3{
    font-family: roboto-l;
    font-size: 1.2em;
}
.footer .footer-box > .info-footer{
    width: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
}
.footer .footer-box > .info-footer > div:nth-child(1){
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
}
.footer .footer-box > .info-footer > div:nth-child(1) > div{
    width: auto;
    padding-right: 50px;
}
.footer .footer-box > .info-footer > div:nth-child(1) > div h3{
    font-family: roboto-m;
    font-size: 1em;
    color: #565656;
    padding-bottom: 10px;
}
.footer .footer-box > .info-footer > div:nth-child(1) > div p, .footer .footer-box > .info-footer > div:nth-child(1) > div a{
    font-family: roboto-r;
    font-size: 1em;
    color: #565656;
    text-decoration: none;
}
.footer .footer-box > .info-footer > div{
    width: 50%;
    padding: 20px 0px 20px 0px;
    box-sizing: border-box;
}
.footer .footer-box > .info-footer > div:nth-child(1) > div:nth-child(2) > div{
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
}
.footer .footer-box > .info-footer > div:nth-child(1) > div:nth-child(2) > div p:nth-child(1){
    font-family: roboto-b;
}
.footer .footer-box > .info-footer > div:nth-child(1) > div:nth-child(2) > div p:nth-child(2){
    padding-left: 5px;
}
.footer .footer-box .info-footer > div:nth-child(2){
    /* width: 30%; */
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.footer .footer-box .info-footer > div:nth-child(2) > div:nth-child(1) > div:nth-child(1){
    text-align: center;
}
.footer .footer-box .info-footer > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) img{
    width: auto;
    height: 50px;
}
.footer .footer-box .info-footer > div:nth-child(2) > div:nth-child(1) > div:nth-child(2){
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}
.footer .footer-box .info-footer > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) p:nth-child(1){
    font-family: roboto-b;
    font-size: 0.75em;
}
.footer .footer-box .info-footer > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) p:nth-child(2){
    font-family: roboto-r;
    font-size: 0.75em;
    padding-left: 5px;
}
.footer .footer-box .info-footer > div:nth-child(2) > div:nth-child(2){
    width: 300px;
    padding-left: 25px;
}
.footer .footer-box .info-footer > div:nth-child(2) > div:nth-child(2) h3{
    font-family: roboto-m;
    font-size: 1em;
    color: #565656;
    padding-bottom: 10px;
}
.footer .footer-box .info-footer > div:nth-child(2) > div:nth-child(2) p{
    font-family: roboto-r;
    font-size: 1em;
    color: #565656;
}
.footer .footer-box > div:nth-child(3){
    width: 100%;
    padding-top: 25px;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer .footer-box > div:nth-child(3) p{
    text-decoration: none;
    font-family: roboto-r;
    font-size: 0.7em;
    color: #566556;
}
.footer .footer-box > div:nth-child(3) a{
    text-decoration: none;
    font-family: roboto-b;
    font-size: 0.7em;
    padding-left: 5px;
    color: #566556;
}
.footer .footer-box > div:nth-child(3) a:hover{
    color: #ff3f3f;
}
input, select, textarea{
    outline: none;
}
input[type=file]{
    width: 100px;
    overflow: hidden;
    height: 30px;
    opacity: 0;
    position: absolute;
    z-index: 2;
}
input[type=file] + .choose-file-label{
    width: 100px;
    font-family: roboto-r;
    font-size: 0.75em;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    background: #3197ff;
    border-radius: 50px;
}
input[type=file]:hover + .choose-file-label{
    background: #3485d8;
    cursor: pointer;
}
input[type=file]:active + .choose-file-label{
    transform: scale(0.95);
}
/************************************************************Datepicker Style***************************************************************/
.ui-datepicker{
    width: 280px;
    background: #fff;
    box-shadow: 1px 5px 20px 1px #d8d8d8;
    border: 2px solid #e4e4e4;
    padding: 20px;
    box-sizing: border-box;
    font-family: roboto-r;
    font-size: 1em;
    display: none;
}
.ui-datepicker a{
    text-decoration: none;
    cursor: pointer;
}
.ui-datepicker-next > span, .ui-datepicker-prev > span{
    font-family: roboto-m;
}
.ui-datepicker-header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ui-datepicker-title{
    width: 100%;
    text-align: center;
    padding: 10px 0px 10px 0px;
    box-sizing: border-box;
}
.ui-datepicker-calendar{
    width: 100%;
}
.ui-datepicker-calendar th, .ui-datepicker-calendar td{
    text-align: center;
}
.ui-datepicker-calendar a{
    color: #505050;
}
.ui-datepicker-calendar a:hover{
    color: #ff3f3f;
}
/**********************************************************Select style ******************************************************************/
input[type=text], input[type=date], select, input[type=number]{
    width: auto;
    height: 30px;
    border-radius: 5px;
    border: none;
    background: #eaeaea;
    padding-left: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(169,169,169);
    font-family: roboto-r;
}
input[type=radio] {
  margin-left: 10px;
  visibility: hidden;
  position: relative;
  width: 20px;
  height: 20px;
}
input[type=radio]::before {
  content: "";
  visibility: visible;
  position: absolute;
  border: 2px solid #dcdcdc;
  border-radius: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
input[type=radio]:checked::before{
  background-color: #e33d3d;
}
input[type=checkbox]{
    visibility:hidden;
    position: relative;
    width: 20px;
    height: 20px;
}
input[type=checkbox]::before {
  content: "";
  visibility: visible;
  position: absolute;
  border: 2px solid #dcdcdc;
  /* border-radius: 50%; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
input[type=checkbox]:checked::before{
  background-color: #e33d3d;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    margin: 0;
}
textarea{
    font-family: roboto-r;
    font-size: 1em;
    color: #000;
    padding: 4px;
    box-sizing: border-box;
}
/***********************************Error message************************************/
h3.errordetail{
    font-family: roboto-r;
    font-size: 1.2em;
    color: #000;
    padding: 10px;
    box-sizing: border-box;
}
.error {
    font-family: roboto-r;
    font-size: 1em;
    color: #ff3838;
    transition: 0.5s;
}
/***********************************No results found*********************************************************/
.not-found{
    width: 100%;
    height: calc(100vh - 650px);
    padding: 55px;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.not-found img{
    width: 50px;
    height: 50px;
}
.not-found span{
    font-family: roboto-m;
    font-size: 1em;
    color: #c2c2c2;
    padding-top: 25px;
}
/*******************************animation pop*********************************************************/
@keyframes pop-in {
    0% {transform: scale(0);}
    25% {transform: scale(0.52);}
    50% {transform: scale(1.04);}
    75% {transform: scale(1.25);}
    100% {transform: scale(1);}
}
@keyframes pop-out {
    0% {transform: scale(1);}
    25% {transform: scale(1.25);}
    50% {transform: scale(1.04);}
    75% {transform: scale(0.52);}
    100% {transform: scale(0);}
}
@keyframes content-pop-in {
    0% {transform: scale(0);}
    25% {transform: scale(0.25);}
    50% {transform: scale(0.5);}
    75% {transform: scale(0.65);}
    100% {transform: scale(0.5);}
}
@keyframes content-pop-out {
    0% {transform: scale(0.5);}
    25% {transform: scale(0.65);}
    50% {transform: scale(0.5);}
    75% {transform: scale(0.25);}
    100% {transform: scale(0);}
}
@keyframes notify-in {
    0% {right: -250px;}
    25% {right: 100px;}
    50% {right: 0px;}
    75% {right: 50px;}
    100% {right: 25px;}
}
@keyframes notify-out {
    0% {right: 25px;}
    25% {right: 50px;}
    50% {right: 0px;}
    75% {right: 100px;}
    100% {right: -250px;}
}
/***********************************notification animation**************************************************/
@media screen and (max-width: 1600px){
    .footer .footer-box{
        padding: 25px 25px 25px 25px;
    }
    .banner > div{
        padding: 0px 25px 0px 25px;
        box-sizing: border-box;
    }
@media screen and (max-width: 1385px){
    #newHeader{
        padding: 5px;
    }
}
@media screen and (max-width: 1295px){
    #newHeader{
        padding: 5px 10px 5px 10px;
    }
    #newHeader ul .btn-menu{
        display: -webkit-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        z-index: 2;
        cursor: pointer;
    }
    #newHeader ul .btn-menu div:nth-child(1){
        margin-top: 5px;
    }
    #newHeader ul .btn-menu div:nth-child(3){
        margin-bottom: 5px;
    }
    #newHeader ul > div:nth-child(2){
        display: none;
        width: 200px;
        height: auto;
        flex-direction: column;
        background: #fff;
        position: absolute;
        padding: 10px;
        box-sizing: border-box;
        top: 60px;
        left: 10px;
        z-index: 1;
        border: 1px solid #b0b0b0;
        border-radius: 4px;
    }
    #newHeader ul > div:nth-child(2) > li{
        width: 100%;
        justify-content: space-between;
    }
    #newHeader ul div li span{
        padding-left: 0px;
    }
    #newHeader ul div li ul{
        left: 200px;
        top: -10px;
    }
    .footer .footer-box .info-footer > div:nth-child(2){
        width: 48%;
    }
    .footer .footer-box .info-footer > div:nth-child(1){
        width: 52%;
    }
}
@media screen and (max-width: 1250px){
    .footer .footer-box > .info-footer > div:nth-child(1){
        width: 60%;
    }
    .footer .footer-box > .info-footer > div:nth-child(2){
        width: 40%;
    }
}
@media screen and (max-width: 1090px){
    .footer .footer-box > .info-footer > div:nth-child(1){
        width: 100%;
        justify-content: flex-start;
    }
    .footer .footer-box > .info-footer > div:nth-child(2){
        width: 100%;
        justify-content: space-between;
    }
}
@media screen and (max-width: 775px){
    .footer .footer-box > .info-footer > div:nth-child(1) > div p, .footer .footer-box > .info-footer > div:nth-child(1) > div a{
        font-size: 0.85em;
    }
}
@media screen and (max-width: 650px){
    .footer .footer-box > .info-footer > div:nth-child(1){
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .footer .footer-box > .info-footer > div:nth-child(1) > div:nth-child(3){
        padding-left: 0px;
        padding-top: 25px;
    }
    .footer .footer-box > .info-footer > div:nth-child(2){
        width: 100%;
        justify-content: center;
    }
}
@media screen and (max-width: 455px){
    .footer .footer-box > .info-footer > div:nth-child(1){
        justify-content: space-between;
    }
    .footer .footer-box > .info-footer > div:nth-child(1) > div{
        padding-right: 10px;
    }
    .footer .footer-box > .info-footer > div:nth-child(2){
        width: 100%;
        justify-content: center;
    }
}
