*{
    margin-left: 0;
    padding: 0;
}
#logo{
    width: 100%;
    max-width: 1500px;
    padding: 20px 0px 20px 0px;
    margin: 0 auto;
    height: auto;
}
#logo img{
    width: auto;
    height: 80px;
}
.option-print{
    width: 100%;
    height: auto;
}
.option-print > div{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px 0px 20px 0px;
}
.option-print > div a{
    text-decoration: none;
    width: auto;
}
.table-box{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}
.title-table{
    padding: 10px 0px 10px 0px;
}
.title-table tr td:nth-child(1) h1{
    font-family: roboto-m;
    font-size: 1.8em;
    color: #000;
}
.title-table tr td:nth-child(2){
    display: -webkit-flex;
    display:-ms-flex;
    display:-o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 25px;
}
.title-table tr:nth-child(1) td h4{
    color: #000;
    font-family: 1em;
}
.title-table tr td:nth-child(2) h1, .title-table tr td:nth-child(2) p{
    font-family: roboto-l;
    font-size: 1.8em;
    color: #000;
}
.table-box .print-results{
    width: 100%;
    border-collapse: collapse;
}
.print-results, .print-results td, .print-results th{
    border: 2px solid #e6e6e6;
}
.print-results tr:nth-child(1) td{
    background: #e6e6e6;
}
.table-box .print-results tr td{
    font-family: roboto-r;
    font-size: 1em;
    color: #000;
    padding: 5px;
    box-sizing: border-box;
}
