body {
	margin:0; 
	padding:0; 
	line-height: 1.4em; 
	word-spacing:1px; 
	letter-spacing:0.2px; 
	font: 13px Arial, Helvetica,"Lucida Grande", serif; 
	color: #000;
	size:landscape;
}


.nav, .searchform {display: none;}

#searchform, #button, #imagen, .noPrint {display: none;}


#main {
	border:0px;
	border-color:#153D56;
	border-style:solid;
	padding-bottom:10px;
	margin-left:0px;
	padding-left:0px;
	size:landscape;
}

#printtable {
	margin:0; 
	padding:0; 
}


.labelheader {
	font-weight:bold;
}