/*******************************************Search style*******************************************************/
.content-box{
    width: 100%;
    height: auto;
}
.receiving-box{
    width: 100%;
    max-width: 1500px;
    height: auto;
    padding: 30px;
    box-sizing: border-box;
    border: 2px solid #e4e4e4;
    box-shadow: 1px 5px 20px 1px #d8d8d8;
    margin: 0 auto;
}
.receiving-box h1{
    font-family: roboto-m;
    font-size: 2.5em;
    color: #313131;
}
.receiving-box > form{
    padding-top: 25px;
}
.receiving-box > form > div:nth-child(1){
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
}
.receiving-box > form > div:nth-child(1) > div{
    width: calc(100% / 4);
    height: auto;
    padding: 10px 5px 0px 5px;
    box-sizing: border-box;
}
.receiving-box > form > div:nth-child(1) > div p{
    font-family: roboto-m;
    font-size: 1.4em;
    color: #000;
    padding-bottom: 5px;
}
.receiving-box > form > div:nth-child(1) > div input[type=text]{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    background: #eaeaea;
    padding-left: 10px;
    box-sizing: border-box;
}
.receiving-box > form > div:nth-child(1) > div select{
    width: 100%;
    height: 34px;
    border-radius: 5px;
    background: #eaeaea;
    padding-left: 10px;
    box-sizing: border-box;
}
.receiving-box > form > div:nth-child(1) > #part-option > div input{
    width: calc(100% - 70px);
}
.receiving-box > form > div:nth-child(1) > #part-option > div{
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.receiving-box > form > div:nth-child(1) > #part-option > div > div{
    width: 30px;
    height: 30px;
    position: relative;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    cursor: pointer;
    transition: 0.4s;
}
.receiving-box > form > div:nth-child(1) > #part-option > div > div:active{
    transform: scale(0.80);
    transition: 0.4s;
}
.receiving-box > form > div:nth-child(1) > #part-option > div > div img{
    width: 30px;
    height: 30px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
}
.receiving-box > form > div:nth-child(1) > #part-option > div input[type=button]{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    position: absolute;
}
.receiving-box > form > div:nth-child(1) > #part-option > div input.add{
    background: rgb(4, 170, 60);
    background-position: center;
    object-fit: cover;
}
.receiving-box > form > div:nth-child(1) > #part-option > div input.clear{
    background: rgb(3, 127, 255);
}
.receiving-box > form > div:nth-child(1) > div.bound-option > div{
    height: 30px;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.receiving-box > form > div:nth-child(1) > div.bound-option > div > div{
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.invisible{
  visibility: hidden;
}
.receiving-box > form > div:nth-child(1) > div.bound-option > div > div label{
    font-family: roboto-r;
    font-size: 1.2em;
    color: #000;
    padding-left: 10px;
}
input, select{
    outline: none;
}
input[type=radio] {
  margin-left: 10px;
  visibility: hidden;
  position: relative;
  width: 20px;
  height: 20px;
}
input[type=radio]:before {
  content: "";
  visibility: visible;
  position: absolute;
  border: 2px solid #dcdcdc;
  border-radius: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
input[type=radio]:checked:before{
  background-color: #e33d3d;
}
.advanced-s{
    display: none;
    opacity: 0;
}
.receiving-box > form > div:nth-child(1) > div.title-option{
    width: 100%;
}
.receiving-box > form > div:nth-child(1) > div.title-option h2{
    font-family: roboto-m;
    font-size: 1.5em;
    color: #000;
}
.receiving-box > form > div:nth-child(1) > div.receiving-date{
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px 0px 0px;
}
.receiving-box > form > div:nth-child(1) > div.receiving-date > div{
    width: calc(100% / 2);
    padding: 0px 5px 0px 5px;
}
.receiving-box > form .advanced-search{
    width: 100%;
    height: auto;
    padding: 25px 0px 0px 0px;
    box-sizing: border-box;
}
.receiving-box > form .advanced-search .option-advanced{
    width: 110px;
    height: auto;
    cursor: pointer;
    background: #40a3ff;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
}
.receiving-box > form .advanced-search .option-advanced p{
    font-family: roboto-m;
    font-size: 1.2em;
    color: #fff;
}
.receiving-box > form .receiving-options{
    width: 100%;
    height: auto;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
}
.options-search{
    width: 100%;
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
}
.options-search > div{
    width: 100%;
    max-width: 1500px;
    padding: 30px 0px 30px 0px;
    box-sizing: border-box;
    margin: 0 auto;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.options-search > div > div:nth-child(1){
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.options-search > div > div:nth-child(1) img{
    width: 25px;
    height: auto;
    transform: rotateY(180deg);
}
.options-search > div > div:nth-child(1) p{
    font-family: roboto-m;
    color: #171717;
    font-size: 1.5em;
    padding-left: 10px;
}
.options-search > div > div:nth-child(2){
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.options-search > div > div:nth-child(2) a{
    text-decoration: none;
}
.options-search > div > div:nth-child(2) .excel-export{
    margin-left: 10px;
}

/********************************************************Table style*******************************************************/
.table-search{
    width: 100%;
    height: auto;
    margin-bottom: 25px;
}
.table-search .pagination{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 15px 5px 15px 5px;
    box-sizing: border-box;
}
.table-search .pagination p{
    font-family: roboto-r;
    font-size: 1.4em;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.pagination{
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.pagination > div:nth-child(2){
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.pagination > div:nth-child(2) > span{
    display: inline-block;
    position: relative;
    width: 35px;
    border: none;
    background: #fff;
    background-image: url(../images/icons/arrow2.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px auto;
    padding: 5px;
    box-sizing: border-box;
    color: transparent;
    cursor: pointer;
}
.pagination > div:nth-child(2) > span.previous{
    transform: rotate(180deg);
}
.options-table{
    display: none;
    position: absolute;
    z-index: 1;
    width: auto;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    background: #fff;
    left: 40px;
    top: 20px;
    box-shadow: 1px 5px 20px 1px #d8d8d8;
}
.options-table > div, .options-table > div > a{
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}
.options-table > div > a{
    padding: 0px;
}
.options-table > div:hover, .options-table > div > a:hover{
    background: #e3e3e3;
}
.options-table > div p, .options-table > div > a > p{
    padding-left: 8px;
    color: #000;
}
.table{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    background: #dadada;
}
.table tr:nth-child(1) > td{
    background: #e4e4e4;
    padding: 5px 15px 5px 15px;
    box-sizing: border-box;
}
.table tr:nth-child(1) > td > a{
    font-family: roboto-b;
    color: #000;
}
.table tr:nth-child(1) > td > a:hover{
    color: #ff7070;
}
.table tr:nth-child(1) td{
    font-family: roboto-b;
    color: #000;
}
.table tr td{
    background: #fff;
    font-family: roboto-r;
    font-size: 1.1em;
    color: #000;
    text-align: center;
    position: relative;
}
.table tr td a{
    color: #000;
    text-decoration: none;
}
.table tr td a img, .table tr td img{
    width: auto;
    height: 20px;
    padding: 2px;
    box-sizing: border-box;
    cursor: pointer;
}
.table tr td a img:active, .table tr td img:active{
    transform: scale(0.90);
}
.table tr > td{
    padding: 5px 15px 5px 15px;
    box-sizing: border-box;
}
/********************************************************search part********************************************************/
#parts{

}
@media screen and (max-width: 1500px){
    .table tr:nth-child(1) > td{
        padding: 8px 5px 8px 5px;
    }
    .table tr > td{
        padding: 5px 5px 5px 5px;
    }
}
@media screen and (max-width: 910px){
    .table tr td{
        font-size: 1em;
    }
}
