/*******************************************Search style*******************************************************/
.content-box{
    width: 100%;
    max-width: 1500px;
    height: auto;
    margin: 0 auto;
}
.section-box{
    width: 100%;
    max-width: 1500px;
    height: auto;
    padding: 30px;
    box-sizing: border-box;
    border: 2px solid #e4e4e4;
    box-shadow: 1px 5px 20px 1px #d8d8d8;
    margin: 0 auto;
}
.section-box h1{
    font-family: roboto-m;
    font-size: 1.8em;
    color: #313131;
}
.section-box > form{
    padding-top: 25px;
}
.section-box > form > div:nth-child(1){
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
}
.section-box > form > div:nth-child(1) > div{
    width: calc(100% / 4);
    height: auto;
    padding: 10px 5px 0px 5px;
    box-sizing: border-box;
}
.section-box > form > div:nth-child(1) > div p{
    font-family: roboto-m;
    font-size: 1em;
    color: #000;
    padding-bottom: 5px;
}
.section-box > form > div:nth-child(1) > div input[type=text]{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    background: #eaeaea;
    padding-left: 10px;
    box-sizing: border-box;
}
.section-box > form > div:nth-child(1) > div select{
    width: 100%;
    height: 34px;
    border-radius: 5px;
    background: #eaeaea;
    padding-left: 10px;
    box-sizing: border-box;
}
.section-box > form > div:nth-child(1) > #part-option > div input{
    width: calc(100% - 70px);
}
.section-box > form > div:nth-child(1) > #part-option > div{
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-box > form > div:nth-child(1) > #part-option > div > div{
    width: 30px;
    height: 30px;
    position: relative;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    cursor: pointer;
    transition: 0.4s;
}
.section-box > form > div:nth-child(1) > #part-option > div > div:active{
    transform: scale(0.80);
    transition: 0.4s;
}
.section-box > form > div:nth-child(1) > #part-option > div > div img{
    width: 30px;
    height: 30px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
}
.section-box > form > div:nth-child(1) > #part-option > div input[type=button]{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    position: absolute;
}
.section-box > form > div:nth-child(1) > #part-option > div input.add{
    background: rgb(4, 170, 60);
    background-position: center;
    object-fit: cover;
}
.section-box > form > div:nth-child(1) > #part-option > div input.clear{
    background: rgb(3, 127, 255);
}
.section-box > form > div:nth-child(1) > div.bound-option > div{
    height: 30px;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.section-box > form > div:nth-child(1) > div.bound-option > div > div{
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 8px;
    box-sizing: border-box;
}
.section-box > form > div:nth-child(1) > div.bound-option > div > div label{
    font-family: roboto-r;
    font-size: 1.2em;
    color: #000;
    padding-left: 10px;
}

.advanced-s{
    display: none;
    opacity: 0;
}
.section-box > form > div:nth-child(1) > div.title-option{
    width: 100%;
}
.section-box > form > div:nth-child(1) > div.title-option h2{
    font-family: roboto-m;
    font-size: 1em;
    color: #000;
}
.section-box > form > div:nth-child(1) > div.section-date{
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px 0px 0px;
}
.section-box > form > div:nth-child(1) > div.section-date > div{
    width: calc(100% / 2);
    padding: 0px 5px 0px 5px;
}
.section-box > form .advanced-search{
    width: 100%;
    height: auto;
    padding: 25px 0px 0px 0px;
    box-sizing: border-box;
}
.section-box > form .advanced-search .option-advanced{
    width: 110px;
    height: auto;
    cursor: pointer;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
}
.section-box > form .advanced-search .option-advanced p{
    font-family: roboto-m;
    font-size: 0.8em;
    color: rgb(64, 163, 255);
}
.section-box > form .section-options{
    width: 100%;
    height: auto;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
}
.options-search{
    width: 100%;
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
}
.options-search > div{
    width: 100%;
    max-width: 1500px;
    padding: 30px 0px 30px 0px;
    box-sizing: border-box;
    margin: 0 auto;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.back-search{
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.back-search img{
    width: 25px;
    height: auto;
    transform: rotateY(180deg);
}
.back-search p{
    font-family: roboto-m;
    color: #171717;
    font-size: 1em;
    padding-left: 10px;
}
.options-search > div > div:nth-child(2){
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.options-search > div > div:nth-child(2) a{
    text-decoration: none;
}
.options-search > div > div:nth-child(2) .excel-export{
    margin-left: 10px;
}

/********************************************************Table style*******************************************************/
.table-search{
    width: 100%;
    height: auto;
    margin-bottom: 25px;
    position: relative;
}
.pagination{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 15px 5px 15px 5px;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.pagination p{
    font-family: roboto-r;
    font-size: 0.9em;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.pagination > div:nth-child(2){
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.pagination > div:nth-child(2) > span{
    width: auto;
    border: none;
    background: #fff;
    background-image: url(../images/icons/arrow2.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px auto;
    padding: 5px;
    box-sizing: border-box;
    color: transparent;
    cursor: pointer;
    width: 24px;
}
.pagination > div:nth-child(2) span.previous{
    transform: rotate(180deg);
}
.options-table{
    display: none;
    position: absolute;
    z-index: 2;
    width: auto;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    background: #fff;
    left: 40px;
    top: 20px;
    box-shadow: 1px 5px 20px 1px #d8d8d8;
}
.options-table > div, .options-table > div > a{
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}
.options-table > div > a{
    padding: 0px;
}
.options-table > div:hover, .options-table > div > a:hover{
    background: #e3e3e3;
}
.options-table > div p, .options-table > div > a > p{
    padding-left: 8px;
    color: #000;
}
.table{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    background: #dadada;
}
.table tr td{
    background: #fff;
    font-family: roboto-r;
    font-size: 0.75em;
    color: #000;
    text-align: center;
    position: relative;
}
.table tr:nth-child(1) > td{
    background: #e4e4e4;
    padding: 5px 15px 5px 15px;
    box-sizing: border-box;
}
.table tr:nth-child(1) > td > a{
    font-family: roboto-b;
    color: #000;
}
.table tr:nth-child(1) > td > a:hover{
    color: #ff7070;
}
.table tr:nth-child(1) td{
    font-family: roboto-b;
    color: #000;
}

.table tr td a{
    color: #000;
    text-decoration: none;
}
.table tr td a img, .table tr td img{
    width: auto;
    height: 20px;
    padding: 2px;
    box-sizing: border-box;
    cursor: pointer;
}
.table tr td a img:active, .table tr td img:active{
    transform: scale(0.90);
}
.table tr > td{
    padding: 5px 15px 5px 15px;
    box-sizing: border-box;
}
.shadow-table{
    width: 100%;
    height: 100vh;
    position: fixed;
    display: none;
    z-index: 1;
    background: rgba(0,0,0,0);
    top: 0;
    left: 0;
}
/********************************************************search part********************************************************/
@media screen and (max-width: 1500px){
    .table tr:nth-child(1) > td{
        padding: 8px 5px 8px 5px;
    }
    .table tr > td{
        padding: 5px 5px 5px 5px;
    }
}
@media screen and (max-width: 910px){
    .table tr td{
        font-size: 0.75em;
    }
    .box-item{
        width: 100%;
    }
}

/********************************************************Payment********************************************************/
.content-new-payment{
  display: flex;
  justify-content: flex-end;
}
/********************************************************Dialog Box********************************************************/
.content-dialog-box{
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialog-box{
    width: 520px;
    height: 460px;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 103;
}
.content-buttons{
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.content-buttons > .button:first-child{
  margin-right: 6px;
}
.title-dialog{
  font-family: roboto-m;
  font-size: 2em;
  color: #313131;
  margin-bottom: 15px;
}

.invisible{
  visibility: hidden;
}
.hide{
  display: none;
}
/********************************************************Input/Output Dialog********************************************************/
.insert-box, .update-box{
    height: 300px;
}
.group-component-box{
  display: flex;
  justify-content: space-between;
}
.component-box{
  width: calc((100% / 3) - 10px);
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  padding: 10px 0px 10px 0px;
}
.input-component{
  margin-top: 8px;
}
.label-component{
    font-family: roboto-m;
    font-size: 0.9em;
    color: #000;
}
.info-dialog{
  font-family: roboto-m;
  font-size: 1.5em;
  color: #000;
}
option{
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
